.root {
  background-color: var(--color-layout-bg);
  background-image: url(https://zmp3-static.zadn.vn/skins/zmp3-v6.1/images/theme-background/zma.svg);
  background-repeat: repeat;
}

.sidebar,
.song-list-header__left,
.song-list-header__right,
.song-item-left-content,
.song-item-right-content {
  flex-grow: 0;
  flex-shrink: 0;
}

.sidebar {
  width: var(--size-sidebar-large);
  height: calc(100vh - var(--height-player));
  background-color: var(--color-sidebar-bg);
}

.sidebar .sidebar-wrapper,
.playlist-media-card,
.playlist-media-card__actions,
.song-info {
  display: flex;
  flex-direction: column;
}

.sidebar .sidebar-wrapper {
  height: 100%;
}

.sidebar .sidebar-brand,
.navbar-menu .navbar-item a,
.navbar-my-music .navbar-my-music__title,
.add-playlist-sidebar .btn,
.page-header,
.page-header .page-header-wrapper,
.page-header-wrapper .page-header-left,
.page-header-wrapper .page-header-right,
.page-header-right .header-right__item,
.playlist-media-card__content,
.playlist-media-card__actions .play-button,
.song-list-header,
.dropdown-button,
.player-controls-left,
.player-controls-right,
.player-controls-left__container,
.song-title-wrapper,
.song-title-inner,
.control-item {
  display: flex;
  align-items: center;
}

.sidebar .sidebar-brand {
  padding: 0 25px 0 28px;
  width: 100%;
  height: var(--height-header);
  flex-shrink: 0;
}

.sidebar .sidebar-brand .app-logo {
  width: 120px;
  height: 40px;
  background: url(https://zmp3-static.zadn.vn/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg)
    50% / contain no-repeat;
  cursor: pointer;
}

.sidebar .main-navbar {
  margin-bottom: 15px;
}

.navbar-menu .navbar-item {
  color: var(--color-navigation-text);
  border-left: 3px solid transparent;
}

.navbar-menu .navbar-item:hover {
  color: var(--color-text-primary);
}

.navbar-menu .navbar-item.is-active {
  color: var(--color-text-primary);
  background-color: var(--color-sidebar-popup-bg-active);
  border-left-color: var(--color-primary-purple);
}

.navbar-menu .navbar-item a {
  padding: 7px 25px;
}

.navbar-menu .navbar-item i,
.add-playlist-sidebar .btn i,
.page-header-wrapper .page-header-left,
.page-header-right .header-right__item:not(:last-child),
.playlist-media-card__btn-group .btn:not(:last-child),
.dropdown-button .dropdown-name,
.song-item-left-content__prefix,
.song-item-left-content__thumbnail,
.song-item-left-content {
  margin-right: 10px;
}

.navbar-menu .navbar-item i {
  font-size: 2.4rem;
  width: 24px;
}

.navbar-menu .navbar-item span {
  font-size: 1.3rem;
  font-weight: 700;
}

.navbar-menu .navbar-item figure {
  margin-left: 8px;
  line-height: 0;
}

.sidebar .sidebar-divide {
  position: relative;
  height: 1px;
}

.sidebar .sidebar-divide::after {
  content: '';
  position: absolute;
  left: 25px;
  right: 25px;
  top: 0;
  border-top: 1px solid var(--color-border-primary);
}

.sidebar .scroll-sidebar-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sidebar .scroll-sidebar-wrapper:hover {
  overflow-y: auto;
}

.sidebar .scroll-sidebar {
  margin-top: 10px;
}

.sidebar .scroll-sidebar.is-mark {
  mask-image: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.8) 10%,
    #fff 25%,
    #fff
  );
  -webkit-mask-image: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.8) 10%,
    #fff 25%,
    #fff
  );
}

.sidebar .scroll-sidebar .main-navbar {
  margin-top: 10px;
  margin-bottom: 0;
}

.sidebar .scroll-sidebar .vip-banner-sidebar {
  margin: 10px 20px;
  padding: 15px 8px;
  border-radius: 8px;
  text-align: center;
  background-image: linear-gradient(117deg, #5a4be7, #c86dd7 102%);
  font-size: 1.2rem;
}

.sidebar .scroll-sidebar-wrapper:hover .vip-banner-sidebar {
  margin-right: 16px;
}

.vip-banner-sidebar .vip-banner-sidebar__text {
  margin-bottom: 10px;
  line-height: 1.67;
  font-weight: 600;
}

.vip-banner-sidebar .btn {
  --color-btn: #ffdb00;
  background-color: var(--color-btn);
  border: 1px solid var(--color-btn);
  border-radius: 999px;
  color: var(--color-black);
  padding: 6px 35px;
  text-transform: uppercase;
  font-weight: 600;
}

.navbar-my-music {
  padding-top: 15px;
  margin-bottom: 15px;
}

.navbar-my-music .navbar-my-music__title {
  margin: 0 28px 8px;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: space-between;
  height: 26px;
}

.navbar-my-music .navbar-my-music__title .btn.edit-btn {
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  padding: 8px;
  display: none;
}

.navbar-my-music .navbar-my-music__title:hover .btn.edit-btn {
  display: flex;
}

.navbar-my-music .navbar-my-music__title .btn.edit-btn:hover,
.page-header-left .form-search,
.page-header-right .header-right__item,
.playlist-media-card__btn-group .btn,
.song-item:hover,
.button-wrapper button:hover,
.control-item-actions button:not(.play-button):hover {
  background-color: var(--color-alpha-bg);
}

.navbar-my-music .navbar-menu .navbar-item span {
  font-weight: 400;
}

.add-playlist-sidebar .btn {
  width: var(--size-sidebar-large);
  height: 54px;
  bottom: var(--height-player);
  border-top: 1px solid var(--color-border-primary);
  font-weight: 700;
  padding: 0 28px;
}

.expanded-btn-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
}

.expanded-button .chevron-left-icon {
  display: none;
}

.page-header {
  position: fixed;
  left: var(--size-sidebar-large);
  right: 0;
  top: 0;
  height: var(--height-header);
  min-width: 660px;
  padding: 0 30px;
  z-index: 99;
}

.page-header.is-sticky {
  background-color: var(--color-layout-bg);
  box-shadow: 0 3px 5px var(--box-shadow-sticky-header);
}

.page-header .page-header-wrapper {
  justify-content: space-between;
  background: transparent;
  width: 100%;
}

.page-header-wrapper .page-header-left,
.page-header-wrapper .page-header-right {
  flex-basis: auto;
  flex-shrink: 0;
}

.page-header-wrapper .page-header-left {
  flex-grow: 1;
  justify-content: flex-start;
}

.page-header-left > .btn {
  background: transparent;
  margin-right: 20px;
}

.page-header-left > .btn i {
  font-size: 2.4rem;
}

.page-header-left .form-search {
  height: 40px;
  border-radius: 20px;
  width: 100%;
  max-width: 540px;
  position: relative;
  padding: 0 10px;
  display: flex;
  align-items: stretch;
}

.page-header-left .form-search .btn i {
  font-size: 2rem;
  color: var(--color-search-text);
}

.page-header-left .form-search .input-wrapper {
  flex-grow: 1;
  position: relative;
}

.page-header-left .form-search .input-wrapper input {
  background: transparent;
  border: none;
  height: 100%;
  width: 100%;
}

.page-header-left .form-search input::placeholder {
  color: var(--color-search-text);
}

.page-header-wrapper .page-header-right {
  justify-content: flex-end;
}

.page-header-right .header-right__item {
  --size-item: 40px;
  height: var(--size-item);
  width: var(--size-item);
  border-radius: 50%;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.page-header-right .header-right__item i {
  font-size: 2rem;
  color: var(--color-setting-icon-text);
}

.page-header-right .header-right__item figure {
  overflow: hidden;
  border-radius: 50%;
  height: 100%;
}

.main-page {
  flex: 1;
  min-height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

.main-page-inner {
  display: flex;
  height: 100%;
}

.playlist-media-card__thumbnail {
  position: relative;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  transition: border-radius 0.5s ease-out 0.5s;
}

.playlist-media-card__thumbnail.rotate {
  border-radius: 50%;
}

.media-img-wrapper {
  overflow: hidden;
}

.playlist-media-card__thumbnail .media-img-wrapper {
  --size-img: 300px;
  width: var(--size-img);
  height: var(--size-img);
  border-radius: 5px;
}

.player-controls-left__thumbnail .media-img-wrapper {
  border-radius: 999px;
}

.media-img {
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 100%;
  transition: transform 0.7s;
  border-radius: 8px;
}

.playlist-media-card__thumbnail .media-img {
  background-image: url('https://photo-resize-zmp3.zadn.vn/w320_r1x1_jpeg/cover/7/0/2/e/702e9f783592e8d59f38dcaebc4a3a09.jpg');
}

.playlist-media-card__thumbnail:not(.rotate):hover .media-img {
  transform: scale(1.1) translateZ(0);
}

.playlist-media-card__thumbnail:hover .opacity,
.playlist-media-card__thumbnail:hover .media-actions-container,
.playlist-media-card__thumbnail.is-playing .opacity,
.playlist-media-card__thumbnail.is-playing .media-actions-container,
.media-item:hover .opacity,
.media-item:hover .media-actions-container,
.media-item.is-playing .opacity,
.media-item.is-playing .media-actions-container,
.song-item.is-active .opacity,
.song-item.is-active .media-actions-container {
  visibility: visible;
}

.song-list-content .media-item {
  max-width: 100%;
  flex-grow: 1;
}

.media-actions-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.media-actions-inner,
.media-actions-container .btn,
.song-item-left-content__prefix,
.button-wrapper,
.control-item-actions,
.divide-wrapper,
.button-wrapper .queue-expand-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-actions-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translate(-50%, -50%);
}

.playlist-media-card__thumbnail .media-actions-container .btn,
.control-item-actions .play-button {
  border-radius: 50%;
  border: 1px solid #fff;
}

.playlist-media-card__thumbnail .media-actions-container .btn {
  --size-btn: 45px;
  width: var(--size-btn);
  height: var(--size-btn);
}

.playlist-media-card__content {
  margin-top: 12px;
  flex-direction: column;
}

.playlist-media-card__content-top {
  text-align: center;
}

.playlist-media-card__title {
  font-size: 2rem;
  line-height: 1.5;
}

.playlist-media-card__release-date,
.playlist-media-card__artists,
.playlist-media-card__like {
  color: var(--color-text-secondary);
  font-size: 1.2rem;
  line-height: 1.75;
}

.playlist-media-card__artists i {
  font-size: 1rem;
}

.playlist-media-card__artists a:hover,
.song-subtitle a:hover,
.control-item-actions .play-button:hover,
.random-button.is-active,
.replay-button.is-active {
  color: var(--color-link-text-hover);
}

.playlist-media-card__artists a:hover,
.song-subtitle a:hover {
  text-decoration: underline;
}

.playlist-media-card__actions {
  justify-content: center;
  margin-top: 16px;
}

.playlist-media-card__actions .play-button {
  margin-bottom: 16px;
  background-color: var(--color-primary-purple);
  padding: 9px 24px;
  border-radius: 999px;
  display: inline-block;
  font-size: 1.6rem;
  margin-right: 5px;
}

.playlist-media-card__actions .play-button span {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.play-button .pause-icon,
.play-button .play-button__pause-text,
.play-button.is-playing .play-icon,
.play-button.is-playing .play-button__play-text,
.media-item .pause-icon,
.media-item.is-playing .play-icon {
  display: none;
}

.play-button.is-playing .pause-icon,
.play-button.is-playing .play-button__pause-text,
.media-item.is-playing .pause-icon {
  display: inline-block;
}

.playlist-media-card__btn-group {
  display: flex;
  justify-content: center;
}

.playlist-media-card__btn-group .btn {
  --size-button: 35px;
  width: var(--size-button);
  height: var(--size-button);
  border-radius: 50%;
}

.like-button .like-button__like-icon {
  color: var(--color-primary-purple);
}

.like-button .like-button__like-icon,
.like-button.is-liked .like-button__unlike-icon {
  display: none;
}

.like-button.is-liked .like-button__like-icon {
  display: inline-block;
}

.playlist-content {
  flex-grow: 1;
  padding-left: 30px;
}

.playlist-content__description {
  padding-bottom: 10px;
  font-size: 1.4rem;
  line-height: 1.5;
}

.playlist-content__description span {
  color: var(--color-text-secondary);
}

.song-list {
  margin-bottom: 10px;
}

.song-list-header,
.song-item {
  padding: 10px;
}

.song-item {
  display: flex;
}

.song-item:hover,
.song-item.is-active {
  border-radius: 4px;
}

.song-item.is-active {
  background-color: var(--color-select-bg);
}

.song-list-header {
  height: 46px;
}

.song-list-header__left {
  width: 50%;
  padding-left: 24px;
}

.song-list-center,
.song-item-center-content {
  flex-grow: 1;
  flex-shrink: 1;
}

.column-text {
  font-size: 1.2rem;
  color: var(--color-text-secondary);
  text-transform: uppercase;
  font-weight: 500;
}

.dropdown-trigger {
  border-radius: 999px;
  border: 1px solid var(--color-border-box);
  padding: 1px 15px;
  background-color: hsla(0, 0%, 100%, 0.05);
  color: var(--color-text-secondary);
  margin-right: 10px;
}

.dropdown-button {
  justify-content: space-between;
  padding: 0;
}

.dropdown-button .dropdown-name {
  font-size: 1.2rem;
  text-transform: uppercase;
  line-height: 1.6;
}

.dropdown-button i {
  font-size: 1.2rem;
}

.select-item,
.song-item-left-content {
  display: flex;
}

.song-item-left-content {
  width: 50%;
}

.song-item-left-content__prefix i {
  font-size: 1.4rem;
  color: var(--color-text-secondary);
}

.song-item-left-content__thumbnail {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 4px;
  flex-shrink: 0;
}

.song-info {
  overflow: hidden;
}

.song-title-wrapper {
  justify-content: flex-start;
  flex-grow: 0;
  flex-shrink: 0;
}

.song-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-transform: none;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.3;
}

.song-subtitle {
  color: var(--color-text-secondary);
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 3px;
  line-height: 1.33;
}

.song-item-center-content {
  align-self: center;
}

.song-item-center-content__song-duration {
  color: var(--color-text-secondary);
  font-size: 1.2rem;
}

.song-item-right-content {
  display: flex;
}

.button-wrapper {
  flex-grow: 1;
}

.player-controls-right .button-wrapper {
  flex-grow: 0;
}

.button-wrapper button {
  --size-btn: 32px;
  width: var(--size-btn);
  height: var(--size-btn);
  padding: 3px;
  margin: 0 2px;
  border-radius: 999px;
}

.button-wrapper button i {
  padding: 5px;
  font-size: 1.6rem;
  border-radius: 50%;
}

.song-item-right-content .button-wrapper button i {
  color: var(--color-song-item-action);
}

.song-item:hover .button-wrapper button:not(.like-button.is-liked) i,
.song-item.is-active .button-wrapper button:not(.like-button.is-liked) i {
  color: var(--color-text-primary);
}

.player-controls__container {
  display: flex;
}

.player-controls-left {
  justify-content: flex-start;
}

.player-controls-center {
  flex-grow: 1;
}

.player-controls-right {
  justify-content: flex-end;
}

.player-controls-left__button-group {
  margin-left: 10px;
  display: flex;
}

.control-item {
  flex-grow: 1;
  flex-shrink: 0;
}

.control-item-actions .btn {
  line-height: 0;
  padding: 3px;
  border-radius: 50%;
}

.control-item-actions .play-button {
  --size-btn: 40px;
  width: var(--size-btn);
  height: var(--size-btn);
}

.control-item-actions .play-button:hover {
  border-color: var(--color-link-text-hover);
}

.control-item-actions .btn i {
  padding: 5px;
  font-size: 1.6rem;
}

.player-controls-center .time {
  min-width: 45px;
  font-size: 1.2rem;
  color: var(--color-player-text);
  font-weight: 500;
}

.player-controls-center .time.left {
  text-align: right;
  margin-right: 10px;
  opacity: 0.5;
}

.player-controls-center .time.right {
  margin-left: 10px;
}

.duration-bar {
  height: 15px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.progress {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  outline: none;
  align-self: center;
  cursor: pointer;
  border-radius: 4px;
  background: linear-gradient(
    to right,
    #fff 0%,
    #fff 0%,
    var(--color-progress-bar-player-bg) 0%,
    var(--color-progress-bar-player-bg) 100%
  );
}

.duration-bar:hover .progress {
  height: 5px;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  visibility: hidden;
}

.duration-bar:hover .progress::-webkit-slider-thumb {
  visibility: visible;
}

.divide-wrapper {
  flex-grow: 0;
  flex-shrink: 0;
}

.divide-wrapper .divide {
  height: 33px;
  width: 1px;
  margin: 0 20px;
  background-color: var(--color-border-player);
}

.button-wrapper .queue-expand-button {
  background-color: var(--color-alpha-bg);
  border-radius: 4px;
  border: 1px solid transparent;
  color: var(--color-player-text);
  font-size: 1.2rem;
  height: 30px;
  line-height: 3rem;
  padding: 0 5px;
}

.button-wrapper:hover .queue-expand-button {
  background-color: hsla(0, 0%, 100%, 0.2);
}
